@font-face {
font-family: advocate_slab_tab_14_cond_reg;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('advocate_slab_tab_14_cond_reg.woff2') format('woff2');
}

@font-face {
font-family: advocate_slab_tab_15_cond_med;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('advocate_slab_tab_15_cond_med.woff2') format('woff2');
}

@font-face {
font-family: advocate_slab_tab_16_cond_bold;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('advocate_slab_tab_16_cond_bold.woff2') format('woff2');
}

@font-face {
font-family: advocate_slab_tab_34_narr_reg;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('advocate_slab_tab_34_narr_reg.woff2') format('woff2');
}

@font-face {
font-family: advocate_slab_tab_35_narr_med;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('advocate_slab_tab_35_narr_med.woff2') format('woff2');
}

@font-face {
font-family: advocate_slab_tab_36_narr_bold;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('advocate_slab_tab_36_narr_bold.woff2') format('woff2');
}

@font-face {
font-family: advocate_slab_tab_54_wide_reg;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('advocate_slab_tab_54_wide_reg.woff2') format('woff2');
}

@font-face {
font-family: advocate_slab_tab_55_wide_med;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('advocate_slab_tab_55_wide_med.woff2') format('woff2');
}

@font-face {
font-family: advocate_slab_tab_56_wide_bold;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('advocate_slab_tab_56_wide_bold.woff2') format('woff2');
}