@font-face {
font-family: advocate_ot_14_cond_reg;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('advocate_ot_14_cond_reg.woff2') format('woff2');
}

@font-face {
font-family: advocate_ot_15_cond_med;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('advocate_ot_15_cond_med.woff2') format('woff2');
}

@font-face {
font-family: advocate_ot_16_cond_bold;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('advocate_ot_16_cond_bold.woff2') format('woff2');
}

@font-face {
font-family: advocate_ot_34_narr_reg;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('advocate_ot_34_narr_reg.woff2') format('woff2');
}

@font-face {
font-family: advocate_ot_35_narr_med;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('advocate_ot_35_narr_med.woff2') format('woff2');
}

@font-face {
font-family: advocate_ot_36_narr_bold;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('advocate_ot_36_narr_bold.woff2') format('woff2');
}

@font-face {
font-family: advocate_ot_54_wide_reg;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('advocate_ot_54_wide_reg.woff2') format('woff2');
}

@font-face {
font-family: advocate_ot_55_wide_med;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('advocate_ot_55_wide_med.woff2') format('woff2');
}

@font-face {
font-family: advocate_ot_56_wide_bold;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('advocate_ot_56_wide_bold.woff2') format('woff2');
}

@font-face {
font-family: advocate_ot_slab_14_cond_reg;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('advocate_ot_slab_14_cond_reg.woff2') format('woff2');
}

@font-face {
font-family: advocate_ot_slab_15_cond_med;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('advocate_ot_slab_15_cond_med.woff2') format('woff2');
}

@font-face {
font-family: advocate_ot_slab_16_cond_bold;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('advocate_ot_slab_16_cond_bold.woff2') format('woff2');
}

@font-face {
font-family: advocate_ot_slab_34_narr_reg;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('advocate_ot_slab_34_narr_reg.woff2') format('woff2');
}

@font-face {
font-family: advocate_ot_slab_35_narr_med;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('advocate_ot_slab_35_narr_med.woff2') format('woff2');
}

@font-face {
font-family: advocate_ot_slab_36_narr_bold;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('advocate_ot_slab_36_narr_bold.woff2') format('woff2');
}

@font-face {
font-family: advocate_ot_slab_54_wide_reg;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('advocate_ot_slab_54_wide_reg.woff2') format('woff2');
}

@font-face {
font-family: advocate_ot_slab_55_wide_med;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('advocate_ot_slab_55_wide_med.woff2') format('woff2');
}

@font-face {
font-family: advocate_ot_slab_56_wide_bold;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('advocate_ot_slab_56_wide_bold.woff2') format('woff2');
}